In [27]:
import pandas as pd
from sqlalchemy import create_engine

In [28]:
csv_file = "FEMA_DECLARE.csv"
fema_df = pd.read_csv(csv_file, encoding='utf-8')
fema_df.head()

,ID,Disaster_Number,IH_Program_Declared,IA_Program_Declared,PA_Program_Declared,HM_Program_Declared,State,Declaration_Date,Disaster_Type,Incident_Type,Title,Incident_Begin_Date,Incident_End_Date,Disaster_Close_Out_Date,Place_Code,Declaration_Rquest_Number,Declared_County_Area
0,1,4419,Yes,No,Yes,Yes,AL,3/5/2019,DR,Tornado,"SEVERE STORMS, STRAIGHT-LINE WINDS, AND TORNADOES",3/3/2019,3/3/2019,NaN,99081.0,19006,Lee
1,2,4418,No,No,Yes,Yes,WA,3/4/2019,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",12/10/2018,12/24/2018,NaN,99009.0,19005,Clallam
2,3,4418,No,No,Yes,Yes,WA,3/4/2019,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",12/10/2018,12/24/2018,NaN,99027.0,19005,Grays Harbor
3,4,4418,No,No,Yes,Yes,WA,3/4/2019,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",12/10/2018,12/24/2018,NaN,99029.0,19005,Island
4,5,4418,No,No,Yes,Yes,WA,3/4/2019,DR,Severe Storm(s),"SEVERE WINTER STORMS, STRAIGHT-LINE WINDS, FLO...",12/10/2018,12/24/2018,NaN,99031.0,19005,Jefferson

In [29]:
cols = []
for col in fema_df.columns:
    cols.append(col.lower())
fema_df.columns = cols
cols

['id',
 'disaster_number',
 'ih_program_declared',
 'ia_program_declared',
 'pa_program_declared',
 'hm_program_declared',
 'state',
 'declaration_date',
 'disaster_type',
 'incident_type',
 'title',
 'incident_begin_date',
 'incident_end_date',
 'disaster_close_out_date',
 'place_code',
 'declaration_rquest_number',
 'declared_county_area']

In [30]:
fema_df['data_source']='FEMA'

In [31]:
fema_df.columns

Index(['id', 'disaster_number', 'ih_program_declared', 'ia_program_declared',
       'pa_program_declared', 'hm_program_declared', 'state',
       'declaration_date', 'disaster_type', 'incident_type', 'title',
       'incident_begin_date', 'incident_end_date', 'disaster_close_out_date',
       'place_code', 'declaration_rquest_number', 'declared_county_area',
       'data_source'],
      dtype='object')

In [33]:
new_fema_df = fema_df[['id','data_source', 'disaster_number', 'ih_program_declared', 'ia_program_declared',
       'pa_program_declared', 'hm_program_declared', 'state',
       'declaration_date', 'disaster_type', 'incident_type', 'title',
       'incident_begin_date', 'incident_end_date', 'disaster_close_out_date',
       'place_code', 'declaration_rquest_number', 'declared_county_area'
       ]]

In [18]:
rds_connection_string = "<DB USER>:<Password>@localhost:5432/fema_disasters_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [34]:
engine.table_names()

In [ ]:
new_fema_df.to_sql(name='fema', con=engine, if_exists='append', index=False)