In [3]:
import pandas as pd
from sqlalchemy import create_engine
import os

In [4]:
csv_file = os.path.join("tornadorawdata.csv")
tornadoraw_data_df = pd.read_csv(csv_file)
tornadoraw_data_df

,om,yr,mo,dy,date,time,tz,st,stf,stn,...,len,wid,ns,sn,sg,f1,f2,f3,f4,fc
0,1,1950,1,3,1/3/1950,11:00:00,3,MO,29,1,...,9.50,150,2,0,1,0,0,0,0,0
1,2,1950,1,3,1/3/1950,11:55:00,3,IL,17,2,...,3.60,130,1,1,1,135,0,0,0,0
2,3,1950,1,3,1/3/1950,16:00:00,3,OH,39,1,...,0.10,10,1,1,1,161,0,0,0,0
3,4,1950,1,13,1/13/1950,5:25:00,3,AR,5,1,...,0.60,17,1,1,1,113,0,0,0,0
4,5,1950,1,25,1/25/1950,19:30:00,3,MO,29,2,...,2.30,300,1,1,1,93,0,0,0,0
5,6,1950,1,25,1/25/1950,21:00:00,3,IL,17,3,...,0.10,100,1,1,1,91,0,0,0,0
6,7,1950,1,26,1/26/1950,18:00:00,3,TX,48,1,...,4.70,133,1,1,1,47,0,0,0,0
7,8,1950,2,11,2/11/1950,13:10:00,3,TX,48,2,...,9.90,400,1,1,1,39,0,0,0,0
8,9,1950,2,11,2/11/1950,13:50:00,3,TX,48,3,...,12.00,1000,1,1,1,201,0,0,0,0
9,10,1950,2,11,2/11/1950,21:00:00,3,TX,48,4,...,4.60,100,1,1,1,423,0,0,0,0
10,11,1950,2,11,2/11/1950,23:55:00,3,TX,48,5,...,4.50,67,1,1,1,67,343,0,0,0
11,12,1950,2,12,2/12/1950,0:30:00,3,TX,48,6,...,8.00,833,1,1,1,37,0,0,0,0
12,13,1950,2,12,2/12/1950,1:15:00,3,TX,48,7,...,2.30,233,1,1,1,143,0,0,0,0
13,14,1950,2,12,2/12/1950,6:10:00,3,TX,48,8,...,3.40,100,1,1,1,293,0,0,0,0
14,15,1950,2,12,2/12/1950,11:57:00,3,TX,48,9,...,7.70,100,1,1,1,419,0,0,0,0
15,16,1950,2,12,2/12/1950,12:00:00,3,MS,28,1,...,0.10,10,1,1,1,145,0,0,0,0
16,17,1950,2,12,2/12/1950,12:00:00,3,MS,28,2,...,2.00,10,1,1,1,145,0,0,0,0
17,18,1950,2,12,2/12/1950,12:00:00,3,TX,48,10,...,1.90,50,1,1,1,419,0,0,0,0
18,19,1950,2,12,2/12/1950,12:30:00,3,AR,5,2,...,0.10,100,1,1,1,53,0,0,0,0
19,20,1950,2,12,2/12/1950,13:00:00,3,LA,22,1,...,82.60,100,1,1,1,31,17,15,119,0
20,21,1950,2,12,2/12/1950,13:20:00,3,LA,22,2,...,58.40,100,1,1,1,31,81,17,15,0
21,22,1950,2,12,2/12/1950,14:00:00,3,LA,22,4,...,74.50,100,1,1,1,85,69,81,13,0
22,23,1950,2,12,2/12/1950,15:00:00,3,AR,5,3,...,5.70,100,1,1,1,139,0,0,0,0
23,24,1950,2,12,2/12/1950,23:00:00,3,LA,22,5,...,0.50,33,1,1,1,35,0,0,0,0
24,25,1950,2,13,2/13/1950,1:00:00,3,TN,47,1,...,0.20,10,1,1,1,157,0,0,0,0
25,26,1950,2,13,2/13/1950,2:00:00,3,TN,47,2,...,0.20,10,1,1,1,97,0,0,0,0
26,27,1950,2,27,2/27/1950,10:20:00,3,OK,40,1,...,2.00,50,1,1,1,109,0,0,0,0
27,28,1950,3,1,3/1/1950,2:30:00,3,MS,28,3,...,0.10,10,1,1,1,75,0,0,0,0
28,29,1950,3,16,3/16/1950,9:15:00,3,FL,12,1,...,1.50,150,1,1,1,109,0,0,0,0
29,30,1950,3,19,3/19/1950,7:30:00,3,LA,22,6,...,2.00,33,1,1,1,19,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63615,616995,2018,12,1,12/1/2018,19:06:00,3,IL,17,0,...,0.21,50,1,1,1,113,0,0,0,0
63616,616996,2018,12,1,12/1/2018,19:18:00,3,IL,17,0,...,2.44,100,1,1,1,113,0,0,0,0
63617,616997,2018,12,1,12/1/2018,19:21:00,3,IL,17,0,...,0.12,25,1,1,1,113,0,0,0,0
63618,616998,2018,12,1,12/1/2018,19:42:00,3,IL,17,0,...,0.49,75,1,1,1,113,0,0,0,0
63619,616999,2018,12,2,12/2/2018,1:45:00,3,GA,13,0,...,1.48,350,1,1,1,321,0,0,0,0
63620,617000,2018,12,2,12/2/2018,1:49:00,3,AL,1,0,...,1.03,75,1,1,1,69,0,0,0,0
63621,617001,2018,12,2,12/2/2018,8:22:00,3,GA,13,0,...,1.86,600,1,1,1,277,0,0,0,0
63622,617002,2018,12,2,12/2/2018,13:14:00,3,GA,13,0,...,3.20,50,1,1,1,3,0,0,0,0
63623,617003,2018,12,2,12/2/2018,13:30:00,3,GA,13,0,...,0.19,50,1,1,1,3,0,0,0,0
63624,617004,2018,12,2,12/2/2018,13:40:00,3,GA,13,0,...,0.59,80,1,1,1,127,0,0,0,0
63625,617005,2018,12,2,12/2/2018,14:10:00,3,GA,13,0,...,7.09,900,1,1,1,39,0,0,0,0
63626,617006,2018,12,2,12/2/2018,17:48:00,3,GA,13,0,...,1.40,50,1,1,1,299,0,0,0,0
63627,617007,2018,12,3,12/3/2018,1:34:00,3,FL,12,0,...,2.15,279,1,1,1,79,0,0,0,0
63628,617008,2018,12,9,12/9/2018,7:57:00,3,FL,12,0,...,0.12,25,1,1,1,101,0,0,0,0
63629,617009,2018,12,9,12/9/2018,10:21:00,3,FL,12,0,...,2.76,50,1,1,1,57,0,0,0,0
63630,617010,2018,12,9,12/9/2018,10:54:00,3,FL,12,0,...,0.13,50,1,1,1,95,0,0,0,0
63631,617011,2018,12,18,12/18/2018,15:50:00,3,WA,53,0,...,1.35,285,1,1,1,35,0,0,0,0
63632,617012,2018,12,20,12/20/2018,7:32:00,3,FL,12,0,...,0.19,125,1,1,1,81,0,0,0,0
63633,617013,2018,12,20,12/20/2018,7:45:00,3,FL,12,0,...,0.76,75,1,1,1,105,0,0,0,0
63634,617014,2018,12,20,12/20/2018,8:14:00,3,FL,12,0,...,0.07,30,1,1,1,105,0,0,0,0
63635,617015,2018,12,20,12/20/2018,11:28:00,3,FL,12,0,...,1.02,100,1,1,1,15,0,0,0,0
63636,617016,2018,12,20,12/20/2018,16:10:00,3,NC,37,0,...,0.33,40,1,1,1,129,0,0,0,0
63637,617017,2018,12,26,12/26/2018,15:40:00,3,TX,48,0,...,0.34,30,1,1,1,125,0,0,0,0
63638,617018,2018,12,26,12/26/2018,16:23:00,3,TX,48,0,...,0.57,100,1,1,1,129,0,0,0,0
63639,617019,2018,12,27,12/27/2018,6:12:00,3,LA,22,0,...,0.32,200,1,1,1,115,0,0,0,0
63640,617020,2018,12,27,12/27/2018,10:15:00,3,LA,22,0,...,0.60,25,1,1,1,1,0,0,0,0
63641,617021,2018,12,27,12/27/2018,10:29:00,3,MS,28,0,...,1.29,100,1,1,1,163,0,0,0,0
63642,617022,2018,12,31,12/31/2018,12:35:00,3,KY,21,0,...,0.76,125,1,1,1,221,0,0,0,0
63643,617023,2018,12,31,12/31/2018,13:43:00,3,IN,18,0,...,2.01,50,1,1,1,147,0,0,0,0
63644,617024,2018,12,31,12/31/2018,14:38:00,3,IN,18,0,...,2.20,140,1,1,1,61,0,0,0,0

In [5]:
new_tornadoraw_data_df = tornadoraw_data_df[['om', 'date', 'st']].copy()
new_tornadoraw_data_df

           om        date  st
0           1    1/3/1950  MO
1           2    1/3/1950  IL
2           3    1/3/1950  OH
3           4   1/13/1950  AR
4           5   1/25/1950  MO
5           6   1/25/1950  IL
6           7   1/26/1950  TX
7           8   2/11/1950  TX
8           9   2/11/1950  TX
9          10   2/11/1950  TX
10         11   2/11/1950  TX
11         12   2/12/1950  TX
12         13   2/12/1950  TX
13         14   2/12/1950  TX
14         15   2/12/1950  TX
15         16   2/12/1950  MS
16         17   2/12/1950  MS
17         18   2/12/1950  TX
18         19   2/12/1950  AR
19         20   2/12/1950  LA
20         21   2/12/1950  LA
21         22   2/12/1950  LA
22         23   2/12/1950  AR
23         24   2/12/1950  LA
24         25   2/13/1950  TN
25         26   2/13/1950  TN
26         27   2/27/1950  OK
27         28    3/1/1950  MS
28         29   3/16/1950  FL
29         30   3/19/1950  LA
...       ...         ...  ..
63615  616995   12/1/2018  IL
63616  616996   12/1/2018  IL
63617  616997   12/1/2018  IL
63618  616998   12/1/2018  IL
63619  616999   12/2/2018  GA
63620  617000   12/2/2018  AL
63621  617001   12/2/2018  GA
63622  617002   12/2/2018  GA
63623  617003   12/2/2018  GA
63624  617004   12/2/2018  GA
63625  617005   12/2/2018  GA
63626  617006   12/2/2018  GA
63627  617007   12/3/2018  FL
63628  617008   12/9/2018  FL
63629  617009   12/9/2018  FL
63630  617010   12/9/2018  FL
63631  617011  12/18/2018  WA
63632  617012  12/20/2018  FL
63633  617013  12/20/2018  FL
63634  617014  12/20/2018  FL
63635  617015  12/20/2018  FL
63636  617016  12/20/2018  NC
63637  617017  12/26/2018  TX
63638  617018  12/26/2018  TX
63639  617019  12/27/2018  LA
63640  617020  12/27/2018  LA
63641  617021  12/27/2018  MS
63642  617022  12/31/2018  KY
63643  617023  12/31/2018  IN
63644  617024  12/31/2018  IN

[63645 rows x 3 columns]

In [39]:
rds_connection_string = "postgres:Dbadmin@localhost:5432/NaturalDisaster_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [40]:
engine.table_names()

['location',
 'data_source',
 'natural_disaster',
 'fema',
 'wild_fire',
 'earthquake',
 'tornado']

In [25]:
new_tornadoraw_data_df[['date']].head

<bound method NDFrame.head of              date
0        1/3/1950
1        1/3/1950
2        1/3/1950
3       1/13/1950
4       1/25/1950
...           ...
63640  12/27/2018
63641  12/27/2018
63642  12/31/2018
63643  12/31/2018
63644  12/31/2018

[63645 rows x 1 columns]>

In [32]:
date_df=new_tornadoraw_data_df[['date']]

In [34]:
om_df=new_tornadoraw_data_df[['om']]

In [35]:
date_df

<bound method NDFrame.head of              date
0        1/3/1950
1        1/3/1950
2        1/3/1950
3       1/13/1950
4       1/25/1950
...           ...
63640  12/27/2018
63641  12/27/2018
63642  12/31/2018
63643  12/31/2018
63644  12/31/2018

[63645 rows x 1 columns]>

In [33]:
nd_data = {
          'event_id': om_df
          'event_date': date_df
          }

nd_data_df=pd.DataFrame(data=nd_data, index=[0])

nd_data_df.head()

SyntaxError: invalid syntax (<ipython-input-33-f67203291b2e>, line 3)

In [28]:
nd_data = {'data_source': "TORNADO",
          'event_id': new_tornadoraw_data_df[['om']],
          'event_date': new_tornadoraw_data_df[['date']],
          'event_type': "TORNADO",
          'state': new_tornadoraw_data_df[['state']]
          }

nd_data_df=pd.DataFrame(data=nd_data, index=[0])

nd_data_df.head()

KeyError: "None of [Index(['state'], dtype='object')] are in the [columns]"