## FEMA Disasters/ location code

by Billy Martinez

In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
csv_file = "zip_codes_database.csv"
zip_df = pd.read_csv(csv_file)
zip_df.head()

   ID  ZipCode        City State  Latitude  Longitude
0   1      501  HOLTSVILLE    NY   40.8179   -73.0453
1   2      544  HOLTSVILLE    NY   40.7888   -73.0394
2   3      601    ADJUNTAS    PR   18.1967   -66.7367
3   4      602      AGUADA    PR   18.3529   -67.1775
4   5      603   AGUADILLA    PR   18.4586   -67.1299

In [4]:
new_zip_df = zip_df[["ID", "ZipCode", "City", "State", "Latitude", "Longitude"]].copy()
new_zip_df.head()

   ID  ZipCode        City State  Latitude  Longitude
0   1      501  HOLTSVILLE    NY   40.8179   -73.0453
1   2      544  HOLTSVILLE    NY   40.7888   -73.0394
2   3      601    ADJUNTAS    PR   18.1967   -66.7367
3   4      602      AGUADA    PR   18.3529   -67.1775
4   5      603   AGUADILLA    PR   18.4586   -67.1299

In [5]:
cols = []
for col in new_zip_df.columns:
    cols.append(col.lower())
new_zip_df.columns = cols
cols

['id', 'zipcode', 'city', 'state', 'latitude', 'longitude']

In [8]:
rds_connection_string = "postgres:my74ETERNITY@localhost:5432/fema_disasters_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [9]:
engine.table_names()

['data_source',
 'wild_fire',
 'natural_disaster',
 'tornado',
 'fema',
 'earthquake',
 'location']

In [10]:
new_zip_df.to_sql(name='location', con=engine, if_exists='append', index=False)