In [3]:
import pandas as pd

In [8]:
# Import the Earthquake CSV
EQ_df = pd.read_csv("../Resources/Earthquake_v1.csv")
EQ_df = EQ_df.drop(['Depth Error', 'Depth Seismic Stations', 'Magnitude Error', 'Magnitude Seismic Stations', 'Azimuthal Gap', 'Horizontal Error', 'Horizontal Distance', 'Root Mean Square', 'Location Source', 'Magnitude Source',], axis=1)

print(len(EQ_df))

23412

In [9]:
EQ_df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Magnitude,Magnitude Type,ID,Source,Status
0,01/02/1965,13:44:18,19.246,145.616,Earthquake,131.6,6.0,MW,ISCGEM860706,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.863,127.352,Earthquake,80.0,5.8,MW,ISCGEM860737,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,6.2,MW,ISCGEM860762,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,5.8,MW,ISCGEM860856,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.938,126.427,Earthquake,15.0,5.8,MW,ISCGEM860890,ISCGEM,Automatic

#### REMEMBER TO REIMPORT FROM CSV IF BELOW DROPPING FUNCTION NEEDS TO BE REDONE

In [5]:
count = 0

# Reduce the Indexes to just those concerning the USA (rough box around) via Latitude and Longitude checks

for index, row in EQ_df.iterrows():
    
    lat = row[2]
    lng = row[3]
    if (20 < lat <= 50 and -130 <= lng <= -60) \
    or (50 < lat <= 75 and -180 <= lng <= -130):
        count += 1
    else:
        EQ_df = EQ_df.drop(index)
print(count, len(EQ_df))

1153 1153

In [6]:
# Showcase the results focused around North America
EQ_df.reset_index(drop=True)

,Date,Time,Latitude,Longitude,Type,Depth,Magnitude,Magnitude Type,ID,Source,Status
0,02/06/1965,01:40:32,53.008,-162.008,Earthquake,17.8,6.4,MW,ISCGEM859637,ISCGEM,Automatic
1,02/06/1965,16:50:29,53.191,-161.859,Earthquake,22.5,6.3,MW,ISCGEM859712,ISCGEM,Automatic
2,02/27/1965,07:46:25,28.133,-112.208,Earthquake,10.0,6.0,MW,ISCGEM860614,ISCGEM,Automatic
3,03/13/1965,07:33:24,53.292,-162.331,Earthquake,20.0,5.7,MW,ISCGEM858558,ISCGEM,Automatic
4,04/16/1965,23:22:21,64.572,-160.375,Earthquake,15.0,6.0,MW,ISCGEM857809,ISCGEM,Automatic

In [12]:
# Move 'ID' Column to leftmost position
cols = EQ_df.columns.tolist()

cols.insert(0, cols.pop(cols.index('ID')))

EQ_df.

['ID',
 'Date',
 'Time',
 'Latitude',
 'Longitude',
 'Type',
 'Depth',
 'Magnitude',
 'Magnitude Type',
 'Source',
 'Status']

In [7]:
# Save the results into an updated CSV
EQ_df.to_csv('Earthquake_v2.csv')