In [12]:
import pandas as pd
from sqlalchemy import create_engine

In [13]:
csv_file = "Location/zip_codes_database.csv"
zip_df = pd.read_csv(csv_file)
zip_df.head()

   ID  ZipCode        City State  Latitude  Longitude
0   1      501  HOLTSVILLE    NY   40.8179   -73.0453
1   2      544  HOLTSVILLE    NY   40.7888   -73.0394
2   3      601    ADJUNTAS    PR   18.1967   -66.7367
3   4      602      AGUADA    PR   18.3529   -67.1775
4   5      603   AGUADILLA    PR   18.4586   -67.1299

In [14]:
new_zip_df = zip_df[["ID", "ZipCode", "City", "State", "Latitude", "Longitude"]].copy()
new_zip_df.head()

   ID  ZipCode        City State  Latitude  Longitude
0   1      501  HOLTSVILLE    NY   40.8179   -73.0453
1   2      544  HOLTSVILLE    NY   40.7888   -73.0394
2   3      601    ADJUNTAS    PR   18.1967   -66.7367
3   4      602      AGUADA    PR   18.3529   -67.1775
4   5      603   AGUADILLA    PR   18.4586   -67.1299

In [17]:
rds_connection_string = "postgres:Dbadmin@localhost:5432/NaturalDisaster_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [18]:
engine.table_names()

['fema_disater', 'location', 'county_zip']

In [19]:
new_zip_df = new_zip_df.rename(columns = {"ID": "id",
                                    "ZipCode": "zipcode", 
                                  "City":"city", 
                                  "State": "state",
                                      "Latitude": "latitude",
                                      "Longitude": "longitude"})
                                      

new_zip_df.head()

   id  zipcode        city state  latitude  longitude
0   1      501  HOLTSVILLE    NY   40.8179   -73.0453
1   2      544  HOLTSVILLE    NY   40.7888   -73.0394
2   3      601    ADJUNTAS    PR   18.1967   -66.7367
3   4      602      AGUADA    PR   18.3529   -67.1775
4   5      603   AGUADILLA    PR   18.4586   -67.1299

In [20]:
new_zip_df.to_sql(name='location', con=engine, if_exists='append', index=False)